@model IEnumerable<TestFirst.Models.chartProject>

@{
    ViewBag.Title = "chartProject";
}

<script src="../Scripts/Chart.min.js"></script>

<br />
<div>
    <h4 style="font-weight:bold">
        專案時程圖
        @Html.ActionLink("專案時程圖", "chartProject", "Chart", new { }, new { @class = "btn btn-info" })
        @Html.ActionLink("施工日數表", "chartMission", "Chart", new { }, new { @class = "btn btn-secondary" })
        @Html.ActionLink("員工薪資表", "chartProject_humancost", "Chart", new { }, new { @class = "btn btn-secondary" })
    </h4>

</div>

<br />
<div class="container">
    <div class="jumbotron alert-success">
        <h2>Gantt 專案時程圖</h2>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <canvas id="myChart"></canvas>
    </div>
</div>
<hr />
<div class="container">
    <div class="jumbotron alert-success">
        <h2>專案金額比率</h2>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <canvas id="doughnut-chart"></canvas>
    </div>
</div>

@{ 
    //-----------part1-------------

    //-----------part2-------------
    var jsonLab2 = Json.Encode(ViewBag.lab2);
    var jsonVal2 = Json.Encode(ViewBag.val2);
}
<script>
    var barOptions_stacked = {
        hover: {
            animationDuration: 10
        },
        scales: {
            xAxes: [{
                label: "Duration",
                ticks: {
                    beginAtZero: true,
                    fontFamily: "'Open Sans Bold', sans-serif",
                    fontSize: 11
                },
                scaleLabel: {
                    display: false
                },
                gridLines: {
                },
                stacked: true
            }],
            yAxes: [{
                gridLines: {
                    display: false,
                    color: "#fff",
                    zeroLineColor: "#fff",
                    zeroLineWidth: 0
                },
                ticks: {
                    fontFamily: "'Open Sans Bold', sans-serif",
                    fontSize: 11
                },
                stacked: true
            }]
        },
        legend: {
            display: false
        },
    };

    var ctx = document.getElementById("myChart");
    //TODO...
    var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: ["1", "2", "3", "4","5"],

            datasets: [{
                data: [50, 150, 300, 200, 450],//start
                backgroundColor: "rgba(63,103,126,0)",
                hoverBackgroundColor: "rgba(50,90,100,0)"

            }, {
                data: [100, 100, 200, 200, 100],//duration
                backgroundColor: ['red', 'green', 'blue', 'yellow'],
            }]
        },
        options: barOptions_stacked,
    });

    //// this part to make the tooltip only active on your real dataset
    //var originalGetElementAtEvent = myChart.getElementAtEvent;
    //myChart.getElementAtEvent = function (e) {
    //    return originalGetElementAtEvent.apply(this, arguments).filter(function (e) {
    //        return e._datasetIndex === 1;
    //    });
    //}
    new Chart(document.getElementById("doughnut-chart"), {
        type: 'doughnut',
        data: {
            labels: @Html.Raw(jsonLab2),
            datasets: [
                {
                    label: "Population (millions)",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                    data: @Html.Raw(jsonVal2)
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: '專案金額比率'
            }
        }
    });

</script>

