@model IEnumerable<TestFirst.Models.chartMission>
@{
    ViewBag.Title = "chartMission";
    
}

<link href="../Content/bootstrap.min.css" rel="stylesheet" />
<script src="../Scripts/Chart.min.js"></script>
<script src="../Assets/js/Colors.js"></script>
<script src="../Assets/js/Utility.js"></script>

<br />
<div>
    <h4 style="font-weight:bold">
        施工日數表
        @Html.ActionLink("專案時程圖", "chartProject", "Chart", new { }, new { @class = "btn btn-secondary" })
        @Html.ActionLink("施工日數表", "chartMission", "Chart", new { }, new { @class = "btn btn-info" })
        @Html.ActionLink("員工薪資表", "chartProject_humancost", "Chart", new { }, new { @class = "btn btn-secondary" })
    </h4>
</div>

<div class="container">
    <div class="jumbotron alert-success">
        <h2>各階段施工日數表</h2>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <canvas id="barChart1"></canvas>
    </div>
    <hr />
    <div class="container">
        <div class="jumbotron alert-success">
            <h2>累積施工日數表</h2>
        </div>
        <canvas id="myChart"></canvas>
    </div>
    
</div>
@{
    //----------------------C#  Part1----------------------------
    var jsonlab1 = Json.Encode(ViewBag.lab1);
    var jsondata1 = Json.Encode(ViewBag.sum1);
    //----------------------C#  Part2----------------------------
    var jsonlab2 = Json.Encode(ViewBag.lab2);
    var jsondata2 = Json.Encode(ViewBag.sum2);
}
<script>
    var ctx = document.getElementById("barChart1");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: @Html.Raw(jsonlab1),
            datasets: [{
                label: '各階段施工日數表',
                data: @Html.Raw(jsondata1),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
            }
        }
    });
    var ctx = document.getElementById("myChart");
    var chart = new Chart(ctx, {
        type: "line",
        data: {
            labels:@Html.Raw(jsonlab2),
            datasets: [{
                label: "",
                data: @Html.Raw(jsondata2),
                fill: false,
                backgroundColor: 'rgba(255,165,0,0.3)',
                borderColor: 'rgb(255,165,0)',
                pointStyle: "circle",
                pointBackgroundColor: 'rgb(0,255,0)',
                pointRadius: 5,
                pointHoverRadius: 10,
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                fontSize: 26,
                text: '累積施工日數表'
            },
            tooltips: {
                mode: 'point',
                intersect: true,
            },
            legend: {
                position: 'bottom',
                labels: {
                    fontColor: 'black',
                }
            }
        }
    });
</script>
<br />
