@model IEnumerable<TestFirst.tMessagBoard>
@using TestFirst.Models
@using TestFirst
@{
    ViewBag.Title = "查詢";
    CUser u = (CUser)Session[CDictionary.SK_CURRENT_LOGINED_USER];
    dbMyProjectEntities1 db = new dbMyProjectEntities1();
    IQueryable<tUser> list = from user in db.tUser
                             select user;
    string s = "x";
    int count1 = 0;
    int count2 = 0;
    int count3 = 0;
}
<br>
<h2>查詢 @Html.ActionLink("返回公告區", "留言板", "Home", new { }, new { @class = "btn btn-info" })</h2>
<hr/>
@using (Html.BeginForm())
{
    <p>訊息 : @Html.TextBox("textmessage")</p>
    <p>年 :  @Html.TextBox("textyear1")-@Html.TextBox("textyear2")</p>
    <p>月 :  @Html.TextBox("textmonth1")- @Html.TextBox("textmonth2")</p>
    <p>帳號 : @Html.TextBox("textuserid")</p>
    <p><input type="submit" value="查詢" class="btn btn-dark" /></p>
    <hr/>
    @Html.ActionLink("新增公告", "SaveMessage1", "Home", new { }, new { @class = "btn btn-primary" })
    <table class="table">
        <thead>
            <tr>
                <td>
                    標題
                </td>
                <td>
                    發佈人
                </td>
                <td>
                    內容
                </td>
                <td>
                    日期
                </td>
                <td>
                    部門
                </td>
                <td>
                    修改
                </td>
                <td>
                    狀態
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.fuser_id.ToString() == u.fId)
                {
                    count1++;
                    <tr style="background-color: darkkhaki">
                        <td>
                            @Html.DisplayFor(modelItem => item.ftitle)
                        </td>
                        <td>
                            自己
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fmessage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fdatetime)
                        </td>
                        <td>
                            @Html.DisplayFor(modeItem => item.fdepartment)
                        </td>

                        <td>
                            @{
                                if (item.fuser_id.ToString() == u.fId)
                                {
                                    @Html.ActionLink("刪除", "DeletMessage", new { fid = item.fid }, new { @class = "btn btn-danger" })
                                    @Html.ActionLink("修改", "EditMessage", new { fid = item.fid }, new { @class = "btn btn-primary" })
                                }
                            }
                        </td>
                        <td>
                            @{
                                list = list.Where(p => p.fEmployeeId.Substring(0, 1) == item.fdepartment.ToString());

                                if (item.fuser_id.ToString() != u.fId)
                                {
                                    @*var c = from p in item.tMessageConfirm
                                                select p;
                                        var k = c.FirstOrDefault(p => p.fuser_id == Convert.ToInt32(u.fId));


                                        if (k == null)
                                        {
                                            @Html.ActionLink("已讀", "Confirm", new { fid = item.fid }, new { @class = "btn btn-primary" })
                                        }*@

                                }
                                else
                                {
                                    <!-- Button trigger modal -->
                                    s = s + item.fid;
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=#@s>
                                        相關人員
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id=@s tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    <table>
                                                        @{
                                                            int num = item.fdepartment;
                                                            if (num == 10)
                                                            {
                                                                list = from p in db.tUser
                                                                       select p;
                                                            }
                                                            else
                                                            {
                                                                list = from p in db.tUser
                                                                       where p.fEmployeeId.Substring(0, 1) == (item.fdepartment.ToString())
                                                                       select p;
                                                            }


                                                            var confirm = from p in db.tMessageConfirm
                                                                          select p;

                                                            foreach (var item2 in list)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @item2.fName
                                                                    </td>
                                                                    <td>
                                                                        @{
                                                                            var employee = confirm.FirstOrDefault(p => p.fmssage_id == item.fid && p.fuser_id == item2.fId);
                                                                            if (employee != null)
                                                                            {
                                                                                <h5>:已讀</h5>
                                                                            }
                                                                            else
                                                                            {
                                                                                <h5>:未讀</h5>
                                                                            }
                                                                        }
                                                                    </td>
                                                                </tr>

                                                            }

                                                        }
                                                    </table>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                }
                            }

                        </td>
                    </tr>

                }
            }

            @foreach (var item in Model)
            {
                if (item.fdepartment.ToString() == u.fEmployeeId.Substring(0, 1) && item.fuser_id.ToString() != u.fId)
                {

                    var x =
                    db.tMessageConfirm.FirstOrDefault(cf => cf.fmssage_id == item.fid && cf.fuser_id.ToString() == u.fId);
                    if (x != null)
                    {
                        count2++;
                        <tr style="background-color: darkgoldenrod">
                            <td>
                                @Html.DisplayFor(modelItem => item.ftitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tUser.fName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fmessage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fdatetime)
                            </td>

                            <td></td>
                            <td>
                                @{

                                    if (item.fuser_id.ToString() != u.fId)
                                    {
                                        var c = from p in item.tMessageConfirm
                                                select p;
                                        var k = c.FirstOrDefault(p => p.fuser_id == Convert.ToInt32(u.fId));


                                        if (k == null)
                                        {
                                            @Html.ActionLink("已讀", "Confirm", new { fid = item.fid }, new { @class = "btn btn-primary" })
                                        }

                                    }

                                }


                            </td>
                        </tr>

                    }
                }
            }
            @foreach (var item in Model)
            {
                if (item.fdepartment.ToString() == u.fEmployeeId.Substring(0, 1) && item.fuser_id.ToString() != u.fId)
                {

                    var x =
                    db.tMessageConfirm.FirstOrDefault(cf => cf.fmssage_id == item.fid && cf.fuser_id.ToString() == u.fId);
                    if (x == null)
                    {
                        count3++;
                        <tr style="background-color:darkseagreen">
                            <td>
                                @Html.DisplayFor(modelItem => item.ftitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tUser.fName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fmessage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fdatetime)
                            </td>

                            <td></td>
                            <td>
                                @{

                                    if (item.fuser_id.ToString() != u.fId)
                                    {
                                        var c = from p in item.tMessageConfirm
                                                select p;
                                        var k = c.FirstOrDefault(p => p.fuser_id == Convert.ToInt32(u.fId));


                                        if (k == null)
                                        {
                                            @Html.ActionLink("已讀", "Confirm", new { fid = item.fid }, new { @class = "btn btn-primary" })
                                        }

                                    }

                                }


                            </td>
                        </tr>

                    }
                }
            }
            <tr style="background-color:silver"><td>自己</td><td>@count1</td></tr>
            <tr style="background-color:silver"><td>已讀訊息</td><td>@count2</td></tr>
            <tr style="background-color:silver"><td>未讀訊息</td><td>@count3</td></tr>

        </tbody>
    </table>
}


