@model TestFirst.tmail

@{
    ViewBag.Title = "ReplyMail";
}
<div>
    <h4>tmail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            標題
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ftitle)
        </dd>
        <dt>
            寄件人
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tUser.fAccount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fmessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fmessage)
        </dd>

        <dt>
            收件人
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replymaiid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tUser1.fAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tUser1.fAccount)
        </dd>

    </dl>
</div>

<h2>ReplyMail</h2>
@using (Html.BeginForm())
{
    
    @Html.AntiForgeryToken()

    

    <div class="form-horizontal">
        <h4>tmail</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
   

        <div class="form-group">
            @Html.LabelFor(model => model.ftitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ftitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ftitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fmessage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="fmessage"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("信箱", "信箱", "Home")
</div>
