@model IEnumerable<TestFirst.tMission>

@{
    ViewBag.Title = "FirstView";
    ViewBag.check = 0;
}

<br>
<h4 style="font-weight:bold">
    工程列表
    @Html.ActionLink("工程列表", "管理首頁", "工程管理", null, new { @class = "btn btn-info" })
    @Html.ActionLink("日報列表", "日報列表", "工程管理", null, new { @class = "btn btn-secondary" })
</h4>


<hr />
@using (Html.BeginForm())
{

    <fieldset style="padding:10px; border:2px solid #DDDDDD; border-radius:20px " id="search">
        <legend class="container-sm">進階搜尋</legend>
        <div class="container-sm">
            <label>工程階段 : </label>
            <select name="txtStage" id="selector" class="custom-select">
                <option value=""></option>
                @{
                    foreach (var item in ViewBag.stage)
                    {
                        <option value="@item">@item</option>
                    }
                }
            </select><br /><br />

            <label>工程名稱 :   @Html.TextBox("txtName", null, new { @class = "form-control-sm" })</label><br />


            <label>工程代號 : </label>    @Html.TextBox("txtCode", null, new { @class = "form-control-sm" })<br />
            <label>工地主任 :  @Html.TextBox("txtChargeMan", null, new { @class = "form-control-sm" })</label><br />

            <br />
            <label>開工日期 : </label> @Html.TextBox("txtDayStart", null, new { @class = "form-control-sm" })-@Html.TextBox("txtDayEnd", null, new { @class = "form-control-sm" })
            <br />
            <label>完工日期 : </label> @Html.TextBox("txtCompleteDayStart", null, new { @class = "form-control-sm" })-@Html.TextBox("txtCompleteDayEnd", null, new { @class = "form-control-sm" })
            <br />
            <label>工程金額 : </label> @Html.TextBox("txtPaymentStart", null, new { @class = "form-control-sm" })-@Html.TextBox("txtPaymentEnd", null, new { @class = "form-control-sm" })
            <br /><br />
            <input type="submit" value="查詢" class="btn btn-outline-primary" />
        </div>
    </fieldset>

}
<br>
<div>
    <p style="width:100%;">


        <div>
            @Html.ActionLink("新增專案", "新增專案", "工程管理", null, new { @class = "btn btn-primary", onclick = "return confirm('確認成立新專案??')" })

            <button type="button" class="btn btn-info" style="float:right" onclick="hidding()">Search</button>

            <input type="button" style="background-color:#ACD6FF;margin-left:10px;margin-top:10px;" value="送審中" disabled />
            <input type="button" style="background-color:#FFDCB9" value="待主管核准" disabled />
            <input type="button" style="background-color:#FF3333;opacity:0.8" value="駁回" disabled />
        </div>
    </p>
</div>

<table class="table table-bordered">

    <tr style="background-color:#563d0350">
        <th width="80px">
            代碼 <img src="~/img/tri.png" style="width:10px;float:right;margin-top:5px" onclick="orderby_code()" />
        </th>
        <th>
            工程名稱
        </th>
        <th width="80px">
            階段
        </th>
        <th>
            開工日<img src="~/img/tri.png" style="width:12px;float:right;margin-top:5px" onclick="orderby_date1()" />
        </th>
        <th style="width:100px">
            日數<img src="~/img/tri.png" style="width:12px;float:right;margin-top:5px" onclick="orderby_date2()" />
        </th>
        <th>
            完工日<img src="~/img/tri.png" style="width:12px;float:right;margin-top:5px" onclick="orderby_date3()" />
        </th>
        <th style="width:100px">
            負責人
        </th>
        <th width="100px">
            工程款<img src="~/img/tri.png" style="width:12px;float:right;margin-top:5px" onclick="orderby_money()" />
        </th>
        <th>
            備註
        </th>
        <th>
            工程確認
        </th>

        <th>
            編輯
        </th>
        <th>
            日報
        </th>


    </tr>


    @foreach (var item in Model)
    {
        ViewBag.check += 1;
        <tr class="tr_@item.fCode">
            <td>
                @Html.DisplayFor(modelItem => item.fCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fStage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fEST_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fSum_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fReal_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fChargeMan)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.fComplete)
                </td>*@

            @*<td>
                        @Html.DisplayFor(modelItem => item.fPhone)
                </td>*@
            <td>
                @{string x = Convert.ToDouble(item.fPayment).ToString("#0.");}
                <label>@x</label>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fPS)

            </td>
            <td class="td_@item.fCode">
                <input id="@item.fCode" type="checkbox" name="Check" value="檢核完畢" /><label>檢核完畢</label>
                <button id="Myapply_@item.fCode" style="font-size:smaller" data-money="@item.fPayment" data-fCode="@item.fCode" class="Myapply btn btn-danger" disabled>申請經費</button>

            </td>
            <td>
                @Html.ActionLink("編輯", "編輯專案", "工程管理", new { fId = item.fId }, new { @class = "btn btn-info" })
            </td>
            <td>
                @Html.ActionLink("日報", "日報列表", "工程管理", new { txtcode = item.fCode }, new { @class = "btn btn-warning" })
            </td>
        </tr>
    }
</table>



@section scripts{
    <script>
        $('.theli').hide();
    </script>
    <script>
        var flag = true;
        $(":checkbox").click(function () {
            let x = this.id;
            console.log(x);
            flag = this.checked
            console.log(flag)
            let checked = $(`${x}`).prop("checked", flag)
            flag = !flag;
            $(`#Myapply_${x}`).prop("disabled", flag)
        })


        $(function () {
            $('.Myapply').click(function () {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json;charset=utf-8",
                    url: '/工程管理/PostdatatoDB',
                    data: JSON.stringify({
                        MyfCode: $(this).attr('data-fCode'),                       
                        MyfPayment: $(this).attr('data-money')
                    }),
                    success: function (data) {
                        console.log(data)
                        alert("工程款項申請中，請確認工程已順利完工");
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
                $(this).closest("tr").css("background", "#FFD9EC50")
                $(this).hide();
            });
        });
        var hide_flag = false;
        $("#search").hide();
        // hide
        function hidding() {
            if (hide_flag) {
                $("#search").hide()
                hide_flag = false;
            }
            else {
                $("#search").show()
                hide_flag = true;

            }
        }
        function CheckingStatus() {
            $.getJSON("../工程管理/AJAX_Check", {}, function (datas) {
                //console.log(datas);
                $.each(datas, function (order, value) {
                    //console.log(order)
                    $.each(value, function (order2, value2) {
                        //console.log(value2)
                        if (order == 0) {
                            $(`.tr_${value2}`).hide();
                        }
                        else if (order == 1) {
                            $(`.tr_${value2}`).css("backgroundColor", "#FF333360")
                            console.log($(`.td_${value2}`).children()[2].innerText = "再次送審")
                        }
                        else if (order == 2) {
                            $(`.tr_${value2}`).css("backgroundColor", "#ACD6FF60")
                            $(`.td_${value2}`).children().remove();
                        }
                        else if (order == 3) {
                            $(`.tr_${value2}`).css("backgroundColor", "#FFDCB960")
                            $(`.td_${value2}`).children().remove();
                        }
                    })
                })
            })
        }
        CheckingStatus();
        function orderby_code() {
            window.location.href = "../工程管理/管理首頁?order=code"
        }
        function orderby_date1() {
            window.location.href = "../工程管理/管理首頁?order=date1"
        }
        function orderby_date2() {
            window.location.href = "../工程管理/管理首頁?order=date2"
        }
        function orderby_date3() {
            window.location.href = "../工程管理/管理首頁?order=date3"
        }
        function orderby_money() {
            window.location.href = "../工程管理/管理首頁?order=money"
        }
    </script>
}




