@model TestFirst.tmail
@using TestFirst.Models
@{
    ViewBag.Title = "OpenMail";
    CUser user = (CUser)Session[CDictionary.SK_CURRENT_LOGINED_USER];
}
<br>
<h2>打開信件</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            標題 : 
        </dt>
        <dd> @Html.DisplayFor(model => model.ftitle)</dd>
        <dt>
            寄件人 :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fsendid)
        </dd>
        <dt>
            寄件時間 : 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fdate)
        </dd>

        <dt>
           信息內容 : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fmessage)
        </dd>
        <dt>
            收件人 :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.frecieveid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tUser1.fAccount) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tUser1.fAccount)
        </dd>

    </dl>
</div>
<p>
    @{ if (Model.fsendid.ToString() == user.fId)
        { 
            @Html.ActionLink("Close", "信箱", "Home", new { @class = "btn btn-danger" })}
         else
         {
            @Html.ActionLink("回信", "ReplyMail", new { fid = Model.fid }, new { @class = "btn btn-primary",style="margin:5px;" })
            @Html.ActionLink("關閉", "信箱", "Home", new { @class = "btn btn-danger" })

         }
    }


</p>
