@model TestFirst.tmail

@{
    ViewBag.Title = "SendMail";
}
<br>
<h2>SendMail</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.frecieveid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" placeholder="收信人姓名" id="user" class="form-control" name="frecieveid" />
                <div id="search_div" style="overflow-y:scroll;height:100px;width:280px;background-color:#7cbff860">
                    <ul style="list-style:none;" id="search_ul">
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ftitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ftitle, new { htmlAttributes = new { @class = "form-control", placeholder = "標題" } })
                @Html.ValidationMessageFor(model => model.ftitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fmessage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="fmessage" placeholder="內容請打這......"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="寄出" class="btn btn-success"onclick="return confirm("確定要送出訊息?")" />
                <a href="../Home/信箱" class="btn btn-danger">取消寄信</a>
            </div>
        </div>
    </div>
}

<script>
    $('#search_div').hide();
    var q = document.querySelector("#user");
    q.addEventListener("keyup", function () {
        $('#search_div').show();
        $('.search_li').remove();
        $.getJSON("../Home/GetUser_Mail", { name: q.value }, function (datas) {
            $.each(datas, function (order, value) {
                var li = document.createElement("li");
                li.className = "search_li";
                li.innerText = value;
                li.onmouseenter = function () { this.style.backgroundColor = "#53FF53" };
                li.onmouseleave = function () { this.style.backgroundColor = "#7cbff860" };
                li.onclick = function () {  $('#user').val(this.innerText) ; $('.search_li').remove(); $('#search_div').hide(); }
                $('#search_ul').append(li);
            })
        })
    });
</script>